*.iml
.gradle
/local.properties
/Word-Clock-Widget/.idea/caches
/Word-Clock-Widget/.idea/libraries
/Word-Clock-Widget/.idea/modules.xml
/Word-Clock-Widget/.idea/workspace.xml
/Word-Clock-Widget/.idea/navEditor.xml
/Word-Clock-Widget/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
